h1{color:darkgoldenrod;
    font-size: 35px; }
h2{font-family: "Lucida Console", "Courier New", monospace;
    color:lightslategray; }
h3{font-family: "Times New Roman", Times, serif; }
p1{font-family: "Arial", Helvetica, sans-serif;
    font-size: 20px; }
a{color:royalblue; }
